{% extends "base.html" %}
{% block title %}New Game{% endblock %}
####################################################
{% block style %}
    * { box-sizing: border-box; }
    body {
      font: 16px Arial;
    }
    .autocomplete {
      /*the container must be positioned relative:*/
      position: relative;
      display: inline-block;
    }
    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }
    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }
    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
    }
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      /*when hovering an item:*/
      background-color: #e9e9e9;
    }
    .autocomplete-active {
      /*when navigating through the items using the arrow keys:*/
      background-color: DodgerBlue !important;
      color: #ffffff;
    }

    ul#menu li {display:inline-block; border: 2px solid steelblue; margin-right: 8px; margin-top: 8px; border-radius: 15px;}

{% endblock %}
####################################################
{% block content %}
<br />
<h1 align="center">New Game</h1>

<!--Make sure the form has the autocomplete function switched off:-->
<form autocomplete="off" action="/team-building" method="post">
    <div class="autocomplete" style="width:300px;">
    <input
        id="myInput"
        type="text"
        name="myPlayer"
        placeholder="Player"
    >
    </div>
    <input type="submit" value="Add Player">
</form>
<br />

<h4 align="left">Chosen players:</h4>
<ul id="menu">
    {% if current_players %}
        {% for current_player in current_players %}
            <li class="list-group-item">
            {{ current_player }}
            </li>
        {% endfor %}
    {% endif %}
</ul>
<br />
<div class="text-center">
    <a href="/versus" class="btn btn-primary btn-lg btn-block" role="button" >Make Teams!</a>
</div>


 <script>
    autocomplete(document.getElementById("myInput"), countries);
</script>
{% endblock %}
